$color2: #1D7E77;

$medium-up: "(min-width:769px)";
$medium-down: "(max-width:768px)";
$large-up: "(min-width:1366px)";
$large-down: "(max-width:1365px)";

html {
  --font-size-sm: 1vmax;
  --font-size-md: 1.8vmax;
  --font-size-lg: 3vmax;

  --color-text: #fff;
  --color-bg: #333;
  --color-link: #fff;
  --color-link-hover: #d08b42;
  --color-info: #fff;
  --color-main-bg: #efcb7b;
  --path-fill-1: #dce3f1;
  --path-fill-2: #869ccc;
  --path-fill-3: #30436f;
  --path-fill-4: #0d1831;
  --color-title: #fff;
  --font-family-title: inherit;
  --font-size-title: 6vmax;
  --font-weight-title: 200;
  --color-menu: #fff;
  --color-menu-hover: #fff;
  --font-family-menu: inherit;
  --font-size-menu: 4vmax;
  --font-weight-menu: 200;
  --button-bg: rgba(255,255,255,1);
  --button-circle: rgba(255,255,255,1);
  --button-line: #222;


  // Schemes
  .demo-1 {
    --color-text: #fff;
    --color-bg: #ddd;
    --color-link: #fff;
    --color-link-hover: #2735da;
    --color-info: #fff;
    --color-main-bg: #171619;
    --path-fill-1: #413f46;
    --path-fill-2: #e6e5ea;
    --path-fill-3: #cccccc;
    --color-title: #fff;
    --font-family-title: 'Montserrat', sans-serif;
    --font-size-title: 7vmax;
    --font-weight-title: 700;
    --color-menu: #171616;
    --color-menu-hover: #ffffff;
    --font-family-menu: 'Montserrat', sans-serif;
    --font-size-menu: 3vmax;
    --font-weight-menu: 700;
    --button-bg: rgba(255,255,255,0.3);
    --button-circle: #6b6b6b;
    --button-line: #222;
  }

  .demo-2 {
    --color-text: #fff;
    --color-bg: #333;
    --color-link: #fff;
    --color-link-hover: #f44e5e;
    --color-info: #fff;
    --color-main-bg: #efcb7b;
    --path-fill-1: #dce3f1;
    --path-fill-2: #869ccc;
    --path-fill-3: #30436f;
    --path-fill-4: #0d1831;
    --color-title: #fff;
    --font-family-title: inherit;
    --font-size-title: 6vmax;
    --font-weight-title: 200;
    --color-menu: #fff;
    --color-menu-hover: #fff;
    --font-family-menu: inherit;
    --font-size-menu: 4vmax;
    --font-weight-menu: 200;
    --button-bg: rgba(255,255,255,1);
    --button-circle: rgba(255,255,255,1 );
    --button-line: #222;
  }

  .demo-3 {
    --color-text: #fbd54a;
    --color-bg: #333;
    --color-link: #4d4f5f;
    --color-link-hover: #bfb5b5;
    --color-info: #fff;
    --color-main-bg: #24262d;
    --path-fill-1: #000000;
    --path-fill-2: #1d1d1f;
    --path-fill-3: #fbd54a;
    --color-title: #fff;
    --font-family-title: 'Arapey', serif;
    --font-size-title: 5vmax;
    --font-weight-title: 400;
    --color-menu: #000000;
    --color-menu-hover: #fff;
    --font-family-menu: 'Arapey', serif;
    --font-size-menu: 4vmax;
    --font-weight-menu: 400;
    --button-bg: #fff;
    --button-circle: #ada4a4;
    --button-line: #222;
  }

  .demo-4 {
    --color-text: #fff;
    --color-bg: #333;
    --color-link: #1b198c;
    --color-link-hover: #d3eaa2;
    --color-info: #fff;
    --color-main-bg: #3735d0;
    --path-fill-1: #241e84;
    --path-fill-2: #d3eaa2;
    --color-title: #fff;
    --font-family-title: 'Pompiere', serif;
    --font-size-title: 6vmax;
    --font-weight-title: 300;
    --color-menu: #3735d0;
    --color-menu-hover: #b2dc53;
    --font-family-menu: var(--font-family-title);
    --font-size-menu: 4vmax;
    --font-weight-menu: 300;
    --button-bg: #b3dc53;
    --button-circle: #1b198b;
    --button-line: #fff;
  }

  .demo-5 {
    --color-text: #c04444;
    --color-bg: #333;
    --color-link: #2d2c2b;
    --color-link-hover: #c14343;
    --color-info: #fff;
    --color-main-bg: #ece7de;
    --path-fill-1: #c04444;
    --path-fill-2: #1b1a19;
    --color-title: inherit;
    --font-family-title: 'Playfair Display', serif;
    --font-size-title: 6vmax;
    --font-weight-title: 700;
    --color-menu: #ffffff;
    --color-menu-hover: #c14343;
    --font-family-menu: var(--font-family-title);
    --font-size-menu: 3.5vmax;
    --font-weight-menu: 400;
    --button-bg: #fff;
    --button-circle: #c14343;
    --button-line: #2d2c2b;
  }

  .demo-6 {
    --color-text: #120047;
    --color-bg: #333;
    --color-link: #110046;
    --color-link-hover: #e83779;
    --color-info: #fff;
    --color-main-bg: #7115d8;
    --path-fill-1: url(#gradient1);
    --path-fill-2: url(#gradient2);
    --path-fill-3: url(#gradient3);
    --color-title: inherit;
    --font-family-title: 'Rozha One', serif;
    --font-size-title: 8vmax;
    --font-weight-title: 400;
    --color-menu: #ffffff;
    --color-menu-hover: #c14343;
    --font-family-menu: var(--font-family-title);
    --font-size-menu: 3.5vmax;
    --font-weight-menu: 400;
    --button-bg: #120047;
    --button-circle: #9236f7;
    --button-line: #ffffff;
  }

}