body{
    margin: 0;
    padding: 0;
    *{
        margin: 0;
        list-style: none;
        box-sizing: border-box;
    }
}
@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'loader';
@import 'transitions';
@import 'menu';